*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(36, 36, 36);
  width: 1440px;
  height: 900px;
  padding: 16px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}